.form-container{
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.form{
    border: 1px solid #000;
    padding: 16px;
}

.form-row{
    display: flex;
    padding: 8px 0px;
}

.form-row .form-label{
    min-width: 90px;
}

.form-row .form-input{
    min-width: 200px;
}

.form-btn{
    display: flex;
    justify-content: flex-end;
}

.form-btn .input-btn{
    padding: 4px 8px;
    margin-left: 12px;
    color: #fff;
    background-color: #000;
}
